body{
    padding: 5px;
}

table{
    width: 400px;
    border: 1px solid black;
    border-collapse: collapse;

    caption{
        caption-side: bottom;
        font-size: smaller;
        padding: 0.2rem;
    }

    th,td{
        padding: 0.5em 1rem;
        border: 1px solid black;
        white-space: pre;
    }

    thead th, tbody td{
        text-align: center;
    }

    thead{
        color: #fff;
        background-color: black;

        th{
            padding: 1rem;
            font-size: larger;
        }

        tr:nth-last-child(1){
            background-color: black;
        }
    }

    tbody tr:nth-child(even){
        background-color: #eee;
    }
}

.blank{
    background-color: black;
}