@media (min-width: 60em){
    .data{
        position: absolute;
        bottom: 360px;
        left: 30px;
        color: #fff;
        background-color: rgb(0, 0, 128);
        width: 170px;
        height: 250px;
        text-align: center;
        padding: 10px;
        line-height: 10px;
        font-size: small;
    }

    .weather{
        position: absolute;
        bottom: 25%;
        left: 82%;
        color: #fff;
        background-color: rgb(0, 0, 128);
        width: 160px;
        height: 160px;
        text-align: center;
        padding: 10px;
        line-height: 10px;
        font-size: small;
    }

    .icon{
        position: absolute;
        bottom: 130px;
        right: 5px;
        height: 30px;
    }

    .icon::after{
        content: "";
        background-image: url("images/weather-icon.svg");
        background-size: contain;
        background-repeat: no-repeat;
    }

    h2{
        position: relative;
        right: 18px;
        bottom: 10px;
        background-color: black;
        text-align: left;
        padding: 15px;
        padding-left: 13px;
    }

    .border{
        padding: 15px;
    }

    .hero img{
        height:550px;
    }
}